# do NOT track Python compilation files
*.py[cod]
__python__/*

# do NOT track tox's testing folder
.tox

# do NOT track coverage files/folders
coverage_html

# do NOT track compiled language files
*.mo
*.pot

# I started relying on putting temporary notes into TODO files
*.todo

!**/.keepme


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
**/.~*.xlsx#

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so


### Django ###
*.log*
*.pyc
*.pyd
*.pyx
db.sqlite3
src/data.json

### IDEA ###
.idea
.vs
*.http
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
